<h1 class="uk-heading-divider"><%= training.new_record? ? "Añadir Entrenamiento" : "Editar Entrenamiento" %></h1>
<%= form_with(model: training) do |form| %>
  <% @errors = training&.errors %>
  <%= input_field(form, :name, data: {name: "Nombre"}) %>
  <%= input_field(form, :description, :text_area, data: {name: "Descripción general"}) %>
  <div class="actions uk-flex uk-flex-between">
    <%= link_to "Cancelar", (training.new_record? ? trainings_path : training_path(@training)), class: "uk-button uk-button-secondary" %>
    <%= form.submit "Guardar", class: "uk-button uk-button-primary" %>
  </div>
<% end %>