<h1 class="uk-heading-divider uk-text-center">Mis Entrenamientos</h1>
<% if @header_text %>
<div class="uk-margin"><p class="uk-text-center uk-text-meta"><%= @header_text %></p></div>
<% end %>
<ul class="uk-child-width-1-1 uk-text-center uk-margin" uk-grid uk-height-match="target: > li > a > .uk-card">
  <% if @trainings.any? %>
    <% @trainings.each do |training| %>
      <li>
      <%= link_to training, class: "uk-link-reset" do %>
        <div class="uk-card uk-height-1-1 uk-card-secondary uk-card-body">
            <h3 class="uk-card-title"><%= training.name %></h3>
            <div class="uk-width-1-1 uk-text-center uk-margin-remove">
              <% Weekable::SM_WEEKDAYS.each do |number, small| %>
                <p class="uk-margin-remove uk-icon-button weekday_btn<%= " active" if training.weekdays.include?(number) %>"><%= small %></p>
              <% end %>
            </div>
        </div>
        <%end%>
      </li>
    <%end%>
  <% else %>
    <li>
      <div class="uk-card uk-height-1-1 uk-card-secondary uk-card-body">
        <p class="uk-text-center">Aún no hay registros de entrenamientos.</p>
      </div>
    </li>
  <% end %>
</ul>

<%= link_to 'Nuevo Entrenamiento', new_training_path, class:"uk-button uk-button-default uk-width-1-1"%>
