
<%= header_content(@training.name, edit_training_path(@training)) %>
<div class="uk-width-1-1 uk-text-center">
  <% Weekable::SM_WEEKDAYS.each do |number, small| %>
    <p class="uk-margin-remove uk-icon-button weekday_btn<%= " active" if @training.weekdays.include?(number) %>"><%= small %></p>
  <% end %>
</div>
<div class="uk-margin">
  <p class="uk-text-center"><%= @training.description %></p>
</div>


<div class="uk-width-1-1 uk-margin-large">
  <% if @training.workouts.count > 0 %>   
    <ul class="uk-child-width-1-1 uk-text-center uk-margin uk-grid-small" uk-grid uk-height-match="target: > li > a > .uk-card">
      <% @training.workouts.each do |workout| %>
        <li>
        <%= link_to training_workout_path(@training, workout), class: "uk-link-reset" do %>
          <div class="uk-card uk-height-1-1 uk-card-secondary uk-card-body">
              <h3 class="uk-card-title"><%= workout.name %></h3>
              <div class="uk-width-1-1 uk-text-center uk-margin-remove">
                <% Weekable::SM_WEEKDAYS.each do |number, small| %>
                  <p class="uk-margin-remove uk-icon-button weekday_btn<%= " active" if workout.weekdays.include?(number) %>"><%= small %></p>
                <% end %>
              </div>
          </div>
          <%end%>
        </li>
      <%end%>
    </ul>
  <%else%>
    <div class="uk-card uk-height-1-1 uk-card-secondary uk-card-body">
      <p class="uk-text-center">No hay ejercicios asociadas a esta rutina.</p>
    </div>
  <%end%>
</div>

<%= link_to("Añadir Workout", new_training_workout_path(@training), {:class=>"uk-button uk-button-default uk-width-1-1"}) %>



