<h1 class="uk-heading-divider"><%= evaluation.new_record? ? "Añadir Evaluacion" : "Editar Evaluacion" %></h1>

<%= form_with(model: evaluation) do |form| %>
  <%= input_field(form, :evaluation_date, :date_field, data: {name: "Fecha de Evaluación"}) %>
  <%= input_field(form, :height, :number_field, data: {name: "Altura"}) %>
  <%= input_field(form, :weight, :number_field, data: {name: "Peso"}) %>
  <%= input_field(form, :imc, :number_field, data: {name: "IMC"}) %>
  <%= input_field(form, :fat_rate, :number_field) %>
  <%= input_field(form, :slim_weight, :number_field) %>
  <%= input_field(form, :residual_weight, :number_field) %>
  <%= input_field(form, :muscle_weight, :number_field) %>
  <%= input_field(form, :triceps_skinfold, :number_field) %>
  <%= input_field(form, :subscapular_skinfold, :number_field) %>
  <%= input_field(form, :bicipital_skinfold, :number_field) %>
  <%= input_field(form, :axilliary_skinfold, :number_field) %>
  <%= input_field(form, :suprailiac_skinfold, :number_field) %>
  <%= input_field(form, :thoracic_skinfold, :number_field) %>
  <%= input_field(form, :abdominal_skinfold, :number_field) %>
  <%= input_field(form, :medialcalf_skinfold, :number_field) %>
  <%= input_field(form, :fist_bone_diametre, :number_field) %>
  <%= input_field(form, :femur_bone_diametre, :number_field) %>
  <div class="actions uk-flex uk-flex-between">
    <%= link_to "Cancelar", (evaluation.new_record? ? evaluations_path : evaluation_path(@evaluation)), class: "uk-button uk-button-secondary" %>
    <%= form.submit "Guardar", class: "uk-button uk-button-primary" %>
  </div>
<% end %>
