<h1 class="uk-heading-divider">Evaluation</h1>

<%= link_to 'Back', evaluations_path %>

<p>
  <strong>Height:</strong>
  <%= @evaluation.height %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @evaluation.weight %>
</p>

<p>
  <strong>Imc:</strong>
  <%= @evaluation.imc %>
</p>

<p>
  <strong>Fat rate:</strong>
  <%= @evaluation.fat_rate %>
</p>

<p>
  <strong>Slim weight:</strong>
  <%= @evaluation.slim_weight %>
</p>

<p>
  <strong>Residual weight:</strong>
  <%= @evaluation.residual_weight %>
</p>

<p>
  <strong>Muscle weight:</strong>
  <%= @evaluation.muscle_weight %>
</p>

<p>
  <strong>Triceps skinfold:</strong>
  <%= @evaluation.triceps_skinfold %>
</p>

<p>
  <strong>Subscapular skinfold:</strong>
  <%= @evaluation.subscapular_skinfold %>
</p>

<p>
  <strong>Bicipital skinfold:</strong>
  <%= @evaluation.bicipital_skinfold %>
</p>

<p>
  <strong>Axilliary skinfold:</strong>
  <%= @evaluation.axilliary_skinfold %>
</p>

<p>
  <strong>Suprailiac skinfold:</strong>
  <%= @evaluation.suprailiac_skinfold %>
</p>

<p>
  <strong>Thoracic skinfold:</strong>
  <%= @evaluation.thoracic_skinfold %>
</p>

<p>
  <strong>Abdominal skinfold:</strong>
  <%= @evaluation.abdominal_skinfold %>
</p>

<p>
  <strong>Medialcalf skinfold:</strong>
  <%= @evaluation.medialcalf_skinfold %>
</p>

<p>
  <strong>Fist bone diametre:</strong>
  <%= @evaluation.fist_bone_diametre %>
</p>

<p>
  <strong>Femur bone diametre:</strong>
  <%= @evaluation.femur_bone_diametre %>
</p>

<p>
  <strong>Evaluation date:</strong>
  <%= @evaluation.evaluation_date %>
</p>

<%= link_to 'Edit', edit_evaluation_path(@evaluation) %> |
<%= link_to 'Back', evaluations_path %>
