<h1 class="uk-heading-divider uk-text-center uk-margin-small-top"><%= @workout.name %></h1>

<p>
  <%= @workout.description %>
</p>

<div class="uk-width-1-1 uk-text-center uk-margin-remove">
  <% Weekable::SM_WEEKDAYS.each do |number, small| %>
    <p class="uk-margin-top uk-icon-button weekday_btn<%= " active" if @workout.weekdays.include?(number) %>"><%= small %></p>
  <% end %>
</div>

<div class="uk-width-1-1 uk-width-1-2@s uk-width-2-3@m uk-margin">
  <div class="uk-card uk-card <%=@workout.creator == current_user ? "uk-card-secondary" : "uk-card-primary" %> uk-card-body">
    <% if @workout.exercise_workouts.count > 0 %>   
      <ul class="uk-list uk-list-divider">
        <% @workout.exercise_workouts.each do |ew| %>
          <li class="uk-flex">
            <div class="uk-width-expand">
              <%= ew.exercise.name %>
            </div>
            <div class="uk-width-auto uk-margin-small-left">
              <ul class="uk-iconnav">
                <li><%= link_to '', [@workout, ew.exercise], :'uk-icon' => "icon: folder" %></li>
                <li><%= remote_icon_link(edit_workout_exercise_workout_path(@workout, ew), "file-edit") %></li>
                <li><%= link_to '', [@workout, ew], method: :delete, data: { confirm: 'Estas seguro?' }, :'uk-icon' => "icon: trash" %></li>
              </ul>
            </div>
          </li>
        <%end%>
      </ul>   
    <%else%>
      <p class="uk-text-center">No hay ejercicios asociadas a este workout. </p>
    <%end%>
  </div>
</div>

<%= remote_link(new_workout_exercise_workout_path(@workout), "Añadir Ejercicio", {:class=>"uk-button uk-button-default uk-width-1-1"}) %>


<%= link_to 'Editar Workout', edit_workout_path(@workout), class: "uk-button uk-button-default uk-width-1-1 uk-margin" %>
