<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @meal.name %>
</p>

<p>
  <strong>Diet:</strong>
  <%= @meal.diet_id %>
</p>

<p>
  <strong>Daytime:</strong>
  <%= @meal.name_daytime %>
</p>

<%= link_to 'Edit', edit_meal_path(@meal) %> |
<%= link_to 'Back', meals_path %>
