<%= form_with(model: [:admin, @diet, meal], local: true) do |form| %>
  <% if meal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meal.errors.count, "error") %> prohibited this meal from being saved:</h2>

      <ul>
        <% meal.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="uk-margin">
    <%= form.label :name %>
    <%= form.text_field :name, class: "uk-input" %>
  </div>

  <div class="uk-margin">
    <%= form.label :daytime %>
    <%= form.collection_select(:daytime, Daytimeable::DAYTIMES.collect.with_index.to_a, :second, :first.to_s, {include_blank: ''},{ class: "uk-select"}) %>
  </div>

  <div class="uk-margin">
    <%= form.submit "Guardar", class: "uk-button uk-button-primary uk-width-1-1" %>
  </div>
<% end %>
