<%= form_with(model: [:admin, @user, @workout, exercise_workout], local: true) do |form| %>
   <% if exercise_workout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(exercise_workout.errors.count, "error") %> prohibited this exercise_workout from being saved:</h2>

      <ul>
        <% exercise_workout.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :exercise_id %>
    <%= select(exercise_workout.model_name.singular, :exercise_id, Exercise.all.collect {|exercise| [ exercise.name, exercise.id ] }, { include_blank: true }) %>
  </div>

  <div class="field">
    <%= form.label :serie_type %>
    <%= select(exercise_workout.model_name.singular, :serie_type, ExerciseWorkout::TYPES.collect {|type| [ type[1], type[0] ] }, { include_blank: true }) %>
  </div>

  <div class="field">
    <%= form.label :serie_rest %>
    <%= form.number_field :serie_rest, in: 0..120 %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes %>
  </div>

  <% exercise_workout.exercise_series.each_with_index do |s, i| %>
    <%= form.label "Serie #{i+1}" %>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
