<p>
  <strong>Exercise:</strong>
  <%= @exercise_workout.exercise.name %>
</p>

<p>
  <strong>Serie type:</strong>
  <%= @exercise_workout.serie_type_name %>
</p>



<p>
  <strong>Serie rest:</strong>
  <%= @exercise_workout.serie_rest %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @exercise_workout.notes %>
</p>

<p>
  <strong>Series:</strong><br/>
  <% exercise_workout.exercise_series.each_with_index do |s, i| %>
    <%= "Serie #{i+1} |" %>
    | <br/>
  <% end %>
</p>

<%= link_to 'Edit', edit_admin_user_workout_exercise_workout_path(@user, @workout, @exercise_workout) %> |
<%= link_to 'Back', admin_user_workout_exercise_workouts_path(@user, @workout) %>