<p id="notice"><%= notice %></p>

<% @status = "info" %>
<% @title = @user.email %>
<% @category = "Descripcion de la tareas en general." %>

<%= content_tag(:div, class: "row") do %>
  <%= content_tag(:div, class: "col-xl-6 col-md-12") do %>
    <%= content_tag(:div, class: "card") do %>
      <%= content_tag(:div, class: "card-header card-header-#{@status}") do %>
        <%= content_tag(:h4, @title, class: "card-title")%>
      <% end %>
      <%= content_tag(:div, class: "card-body") do %>
        <%= @user %>
      <% end %>
    <% end %>
    <%= link_to 'Editar', edit_user_path(@user), class: "btn btn-#{@status} pull-right" %>
    <%= link_to 'Volver', users_path, class: "btn" %>
  <% end %>
<% end %>