<button class="uk-offcanvas-close" type="button" uk-close></button>

<h3><%= weight.new_record? ? "Añadir Peso" : "Editar Peso"%></h3>

<%= form_with(model: weight, remote: true) do |form| %>
  <% errors = weight.errors.present? ? weight.errors.messages : {} %>
  <div class="uk-margin">
    <%= form.date_field :evaluation_date, class: "uk-input#{" uk-form-danger" if errors[:evaluation_date].present?}", placeholder: "Fecha" %>
  </div>

  <div class="uk-margin">
    <%= form.number_field :score, class: "uk-input#{" uk-form-danger" if errors[:score].present?}", placeholder: "Peso", step: :any %>
  </div>

  <div class="uk-margin">
    <%= form.text_area :notes, class: "uk-input", placeholder: "Notas" %>
  </div>

  <div class="uk-margin">
    <%= form.submit "Guardar", class:"uk-button uk-button-default" %>
  </div>

<% end %>
