<h1 class="uk-heading-divider"><%= workout.new_record? ? "Añadir Rutina" : "Editar Rutina" %></h1>

<%= form_with(model: [@training, workout]) do |form| %>

  <%= input_field(form, :name, data: {name: "Nombre"}) %>
  <%= input_field(form, :description, :text_area, data: {name: "Descripción general"}) %>

  <div class="uk-margin">
    <%= form.label :weekdays, "Dias de la semana", class: "uk-form-label" %>
    <div class="uk-form-controls">
      <%= select(workout.model_name.singular, :weekdays, Weekable::WEEKDAYS, {}, { multiple: true, class: "uk-select" }) %>
    </div>
  </div>

  <div class="actions uk-flex uk-flex-between">
    <%= link_to "Cancelar", (workout.new_record? ? training_path(@training) : training_workout_path(@training, workout)), class: "uk-button uk-button-secondary" %>
    <%= form.submit "Guardar", class: "uk-button uk-button-primary" %>
  </div>
<% end %>