<h1 class="uk-heading-divider">Workouts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Training days</th>
      <th>Exercises</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @workouts.each do |workout| %>
      <tr>
        <td><%= workout.name %></td>
        <td><%= workout.description %></td>
        <td><%= workout.weekdays_sentence %></td>
        <td><%= workout.exercises.count %></td>
        <td><%= link_to 'Show', admin_user_workout_path(@user, workout) %></td>
        <td><%= link_to 'Exercises', admin_user_workout_exercises_path(@user, workout) %></td>
        <td><%= link_to 'Edit', edit_admin_user_workout_path(@user, workout) %></td>
        <td><%= link_to 'Destroy', admin_user_workout_path(@user, workout), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Workout', new_admin_user_workout_path(@user) %>
<%= link_to 'Back to User', admin_user_path(@user) %>
