<button class="uk-offcanvas-close" type="button" uk-close></button>

<h3><%= @meal_food.new_record? ? "Añadir Alimento" : "Modificar alimento" %></h3>

<%= form_with(model: [@diet, @meal, @meal_food], local: true) do |form| %>
    <div class="uk-margin">
        <%= form.collection_select(:food_id, Food.all, :id, :name, {include_blank: 'Selecciona un alimento'},{ class: "uk-select select2", disabled: !@meal_food.new_record?}) %>
    </div>
    <div class="uk-margin">
        <%= form.number_field :quantity, class: "uk-input", placeholder: "Cantidad", step: :any %>
    </div>
    <div class="uk-margin">
        <%= form.collection_select(:unit, MealFood::UNITS, :to_s, :to_s, {include_blank: '', selected: "g" },{ class: "uk-select"}) %>
    </div>    
    <div class="uk-margin">
        <%= form.submit "Guardar", class:"uk-button uk-button-default" %>
    </div>
<% end %>
