<p id="notice"><%= notice %></p>

<h1 class="uk-heading-divider">Exercise Workouts</h1>

<table>
  <thead>
    <tr>
      <th>Exercise</th>
      <th>Workout</th>
      <th>Serie type</th>

      <th>Serie rest</th>
      <th>Notes</th>
      <th>Series</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exercise_workouts.each do |exercise_workout| %>
      <tr>
        <td><%= exercise_workout.exercise_id %></td>
        <td><%= exercise_workout.workout_id %></td>
        <td><%= exercise_workout.serie_type %></td>
        <td><%= exercise_workout.serie_rest %></td>
        <td><%= exercise_workout.notes %></td>
        <td><%= exercise_workout.exercise_series.count %></td>
        <td><%= link_to 'Show', exercise_workout %></td>
        <td><%= link_to 'Edit', edit_exercise_workout_path(exercise_workout) %></td>
        <td><%= link_to 'Destroy', exercise_workout, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Exercise Workout', new_exercise_workout_path %>
