<%= form_with(model: exercise_series) do |form| %>
  <% if exercise_series.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(exercise_series.errors.count, "error") %> prohibited this exercise_series from being saved:</h2>

      <ul>
        <% exercise_series.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :reps %>
    <%= form.text_field :reps %>
  </div>

  <div class="field">
    <%= form.label :time_track %>
    <%= form.number_field :time_track %>
  </div>

  <div class="field">
    <%= form.label :exercise_workout_id %>
    <%= form.text_field :exercise_workout_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
