<p id="notice"><%= notice %></p>

<h1>Exercise Series</h1>

<table>
  <thead>
    <tr>
      <th>Reps</th>
      <th>Time track</th>
      <th>Exercise workout</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exercise_series.each do |exercise_series| %>
      <tr>
        <td><%= exercise_series.reps %></td>
        <td><%= exercise_series.time_track %></td>
        <td><%= exercise_series.exercise_workout_id %></td>
        <td><%= link_to 'Show', exercise_series %></td>
        <td><%= link_to 'Edit', edit_exercise_series_path(exercise_series) %></td>
        <td><%= link_to 'Destroy', exercise_series, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Exercise Series', new_exercise_series_path %>
