<h1 class="uk-heading-divider"><%= measurement.new_record? ? "Añadir Medidas" : "Editar Medidas" %></h1>

<%= form_with(model: measurement) do |form| %>
  <% if measurement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(measurement.errors.count, "error") %> prohibited this measurement from being saved:</h2>

      <ul>
        <% measurement.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="uk-margin">
    <%= form.label :evaluation_date, "Fecha de Evaluación", class:"uk-form-label" %>
    <%= form.date_field :evaluation_date, class: "uk-input" %>
  </div>
  
  <div class="uk-margin">
    <%= form.label :shoulder, "Hombro", class:"uk-form-label" %>
    <%= form.number_field :shoulder, class: "uk-input" %>
  </div>

  <div class="uk-margin">
    <%= form.label :pecs, "Pectoral", class:"uk-form-label" %>
    <%= form.number_field :pecs, class: "uk-input" %>
  </div>

  <div class="uk-margin">
    <%= form.label :right_arm, "Brazo Derecho", class:"uk-form-label" %>
    <%= form.number_field :right_arm, class: "uk-input" %>
  </div>

  <div class="uk-margin">
    <%= form.label :left_arm, "Brazo Izquierdo", class:"uk-form-label" %>
    <%= form.number_field :left_arm, class: "uk-input" %>
  </div>

  <div class="uk-margin">
    <%= form.label :right_forearm, "Antebrazo Derecho", class:"uk-form-label" %>
    <%= form.number_field :right_forearm, class: "uk-input" %>
  </div>

  <div class="uk-margin">
    <%= form.label :left_forearm, "Antebrazo Izquierdo", class:"uk-form-label" %>
    <%= form.number_field :left_forearm, class: "uk-input" %>
  </div>

  <div class="uk-margin">
    <%= form.label :waist, "Cintura", class:"uk-form-label" %>
    <%= form.number_field :waist, class: "uk-input" %>
  </div>

  <div class="uk-margin">
    <%= form.label :hip, "Cadera", class:"uk-form-label" %>
    <%= form.number_field :hip, class: "uk-input" %>
  </div>

  <div class="uk-margin">
    <%= form.label :right_leg, "Pierna Derecha", class:"uk-form-label" %>
    <%= form.number_field :right_leg, class: "uk-input" %>
  </div>

  <div class="uk-margin">
    <%= form.label :left_leg, "Pierna Izquierda", class:"uk-form-label" %>
    <%= form.number_field :left_leg, class: "uk-input" %>
  </div>

  <div class="uk-margin">
    <%= form.label :right_twin, "Gemelo Derecho", class:"uk-form-label" %>
    <%= form.number_field :right_twin, class: "uk-input" %>
  </div>

  <div class="uk-margin">
    <%= form.label :left_twin, "Gemelo Izquierdo", class:"uk-form-label" %>
    <%= form.number_field :left_twin, class: "uk-input" %>
  </div>

  <div class="actions uk-flex uk-flex-between">
    <%= link_to "Cancelar", (measurement.new_record? ? measurements_path : measurement_path(@measurement)), class: "uk-button uk-button-secondary" %>
    <%= form.submit "Guardar", class: "uk-button uk-button-primary" %>
  </div>
<% end %>
