<div class="uk-overflow-auto uk-margin">
  <table class="uk-table uk-table-hover uk-table-middle uk-table-divider">
    <thead>
      <tr>
        <%# <th class="uk-table-small uk-text-right"></th> %>
        <th>Medidas</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <%# <td><input class="uk-checkbox" type="checkbox"></td> %>
        <td><p>Hombro: <%= @measurement.shoulder %></p></td>
      <tr><tr>
        <%# <td><input class="uk-checkbox" type="checkbox"></td> %>
        <td><p>Pectoral: <%= @measurement.pecs %></p></td>
      <tr><tr>
        <%# <td><input class="uk-checkbox" type="checkbox"></td> %>
        <td><p>Brazo Derecho: <%= @measurement.right_arm %></p></td>
      <tr><tr>
        <%# <td><input class="uk-checkbox" type="checkbox"></td> %>
        <td><p>Brazo Izquierdo: <%= @measurement.left_arm %></p></td>
      <tr><tr>
        <%# <td><input class="uk-checkbox" type="checkbox"></td> %>
        <td><p>Antebrazo Derecho: <%= @measurement.right_forearm %></p></td>
      <tr><tr>
        <%# <td><input class="uk-checkbox" type="checkbox"></td> %>
        <td><p>Antebrazo Izquierdo: <%= @measurement.left_forearm %></p></td>
      <tr><tr>
        <%# <td><input class="uk-checkbox" type="checkbox"></td> %>
        <td><p>Cintura: <%= @measurement.waist %></p></td>
      <tr><tr>
        <%# <td><input class="uk-checkbox" type="checkbox"></td> %>
        <td><p>Cadera: <%= @measurement.hip %></p></td>
      <tr><tr>
        <%# <td><input class="uk-checkbox" type="checkbox"></td> %>
        <td><p>Pierna Derecha:<%= @measurement.right_leg %></p></td>
      <tr><tr>
        <%# <td><input class="uk-checkbox" type="checkbox"></td> %>
        <td><p>Pierna Izquierda:<%= @measurement.left_leg %></p></td>
      <tr><tr>
        <%# <td><input class="uk-checkbox" type="checkbox"></td> %>
        <td><p>Gemelo Derecho:<%= @measurement.right_twin %></p></td>
      <tr><tr>
        <%# <td><input class="uk-checkbox" type="checkbox"></td> %>
        <td><p>Gemelo Izquierdo:<%= @measurement.left_twin %></p></td>
      </tr>
    </tbody>
  </table>
</div>

<%= link_to 'Editar Medidas', edit_measurement_path(@measurement), class: "uk-button uk-button-default uk-width-1-1" %>
<%= link_to 'Volver', measurements_path, class: "uk-button uk-button-default uk-width-1-1 uk-margin" %>