<button class="uk-offcanvas-close" type="button" uk-close></button>

<h3><%= exercise_workout.new_record? ? "Añadir Ejercicio" : "Editar Ejercicio"%></h3>

<%= form_with(model: [@workout, exercise_workout], local: true) do |form| %>
  
  <div class="uk-margin">
    <%= form.collection_select(:exercise_id, Exercise.order(:name), :id, :name, {include_blank: 'Selecciona un ejercicio'},{ class: "uk-select" }) %>
  </div>

  <div class="uk-margin">
    <%= form.collection_select(:serie_type, ExerciseWorkout::TYPES, :first, :last, {include_blank: 'Selecciona el tipo de serie'},{ class: "uk-select" }) %>
  </div>

  <div class="uk-margin">
    <%= form.number_field :serie_rest, class: "uk-input", placeholder: "Descanso (segundos)" %>
  </div>

  <div class="uk-margin">
    <%= form.text_area :notes, class: "uk-textarea", placeholder: "Notas" %>
  </div>

  <div class="uk-margin">
    <%= form.submit "Guardar", class:"uk-button uk-button-default" %>
  </div>

<% end %>
