<h1 class="uk-heading-divider"><%= exercise_workout.new_record? ? "Añadir Ejercicio" : "Editar Ejercicio" %></h1>
<%= form_with(model: [@workout, exercise_workout]) do |form| %>
  <%= render 'exercise_workouts/form_fields', form: form %>
  <div class="actions uk-flex uk-flex-between">
    <%= link_to "Cancelar", (exercise_workout.new_record? ? workout_path(@workout) : workout_exercise_workout_path(@workout, exercise_workout)), class: "uk-button uk-button-secondary" %>
    <%= form.submit "Guardar", class: "uk-button uk-button-primary" %>
  </div>
<% end %>
