<%= header_content(@exercise_workout.exercise.name, edit_workout_exercise_workout_path(@workout, @exercise_workout)) %>
<div class="uk-column-1-2">
  <div>
    <p><strong><%= @exercise_workout.serie_type_name %></strong></p>
  </div>
  <div class="uk-text-right">
    <p><strong>Descanso: </strong><%= @exercise_workout.serie_rest %>''</p>
  </div>
</div>
<% if @exercise_workout.serie_type.present? %>
  <div class="uk-width-1-1 uk-width-1-2@s uk-width-2-3@m uk-margin-remove-top">
    <div class="uk-card uk-card uk-card-secondary uk-card-body">
      <% if @exercise_workout.exercise_series.count > 0 %>   
        <ul class="uk-list uk-list-divider">
          <% @exercise_workout.exercise_series.each_with_index do |serie, i| %>
            <li class="uk-flex uk-text-center">
              <div class="uk-width-expand">
                <strong>Serie <%=i+1%>: </strong>
                <% if @exercise_workout.serie_type == 0 %>
                  Repeticiones: <%= serie.reps %> | Peso: <%= serie.weight %>
                <% elsif @exercise_workout.serie_type == 1 %>
                  Tiempo: <%= serie.time_track %>
                <% elsif @exercise_workout.serie_type == 2 %>
                  Repeticiones: <%= serie.reps %>
                <% elsif @exercise_workout.serie_type == 3 %>
                  Peso: <%= serie.weight %>
                <% end %>
              </div>
            </li>
          <%end%>
        </ul>   
      <%else%>
        <p class="uk-text-center">No hay series asociadas a este ejercicio. </p>
      <%end%>
    </div>
  </div>
<% end %>
<div>
  <% unless @exercise_workout.notes.blank? %>
    <p><strong>Notas:</strong><%= @exercise_workout.notes %></p>
  <% end %>
</div>

<p class="uk-text-justify"><strong>Descripcion del ejercicio: </strong><%= @exercise_workout.exercise.description %></p>

<%= link_to 'Volver', workout_path(@workout), class: "uk-button uk-button-default uk-width-1-1" %>



