<%= content_tag(:div, class: "row") do %>
  
  <%= render(Forms::FormGroupComponent.new(col_class: "col-sm-8 col-md-9")) do %>
    <%= form.label :title, 'Titulo' %>
    <%= form.text_field :title, class: 'form-control'%>
  <% end %>
  
  <%= render(Forms::FormGroupComponent.new(col_class: "col-sm-4 col-md-3")) do %>
    <%= form.label :duration, 'Duración' %>
    <%= form.number_field :duration, class: 'form-control'%>
  <% end %>
  
  <%= content_tag(:div, render(Forms::InputComponent.new(id: dom_id(form.object)+"_description", form:form, object_attr:"description", label:'Descripcción', field_type: "text_area")), class: "col-12") %>
  
  <%= render(Forms::FormGroupComponent.new(fg_class: "form-group", fg_data: {controller: 'select2'})) do %>
    <%= form.label :room_ids, 'Habitaciones involucradas' %>
    <%= form.select(:room_ids, Room.all.collect {|x| [x.name, x.id]}, {include_blank: false, required: true, include_hidden: false}, { multiple: true, class: 'form-control content-search pb-0' }) %>
  <% end %>
  <!-- Create new event associated to homework -->
  <%= tag.div class:"col-12 mt-3" do %>
    <p class="pt-2">Tambien puedes añadir una instancia de la tarea directamente desde aqui:</p>
    <%= render(StimulusComponents::RevealComponent.new(icon:'add', style:'fab')) do %>
      <%= tag.div(render(Button::BaseComponent.new(style:'fab', icon: 'close', color:'primary',classes:"float-right", data: { action:"click->reveal#toggle"})), class: "col-12") %>
      <%= form.fields_for :events do |events_form| %>
        <%= render 'admin/events/form_fields', form: events_form %>
      <% end %>
    <% end %>
  <% end %>

<% end %>