<%= tag.div(class: "row") do %>
  <%= tag.div(class: "col-12") do %>
    <%= tag.div(class: "row", data: {controller: "reveal", reveal_hidden_class: 'd-none'}) do %>
      <%= tag.div(class: "d-none col-12", data: {reveal_target: "item"} ) do %>
        <%= tag.div(class: "row") do %>
          <%= tag.div(class: "col-12") do %>
            <%= tag.div(class: "card") do %>
              <%= render(Card::HeaderComponent.new(title: "Nueva Tarea", subtitle: "Aqui puedes añadir tareas.", close_button: true, data: {header_animation: true})) %>
              
              <%= tag.div(class: "card-body pt-0") do %>
                <div class="card-actions">
                    <button type="button" class="btn btn-danger btn-link fix-broken-card">
                      <i class="material-icons">build</i> Fix Header!
                    </button>

                    <button type="button" class="btn btn-info btn-link" rel="tooltip" data-placement="bottom" title="Refresh">
                      <i class="material-icons">refresh</i>
                    </button>
                    <button type="button" class="btn btn-default btn-link" rel="tooltip" data-placement="bottom" title="Change Date">
                      <i class="material-icons">edit</i>
                    </button>
                </div>
                <%= tag.body( render('form', homework: @homework) ) %>
              <% end %>

            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <%= tag.div(class: "col-12", data: { reveal_target: "item" } ) do %>
        <%= tag.div(class: "row") do %>
          <%= render(Card::BaseComponent.new(title: "Gestión de Tareas", category: "y eventos asociados", footer_text: "#{Homework.count} tareas creadas.", color: 'primary', row_classes: "col-12", open_button: true)) do %>
            <%= turbo_stream_from "homeworks" %>
            <%= tag.ul class:"list-group list-group-flush" do %>
              <%= turbo_frame_tag('admin_homeworks', class: "row") do %>
                <%= render(Admin::List::HomeworkComponent.with_collection(@homeworks)) %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<!-- <%= tag.div(class: "row") do %>
  <%= content_tag(:div, class: "col-xl-6 col-md-12") do %>
    <%= content_tag(:div, class: "card card-chart") do %>
      <%= content_tag(:div, class: "card-header card-header-primary") do %>
        <%= content_tag(:div, {class: "ct-chart", id: @chart_id}) do %>
          <%= column_chart Event.report_week, id:"column_chart report-week-events", colors: ["#eeeeeea9"], download: "weekly_events_report", discrete: true %>   
        <% end %>
      <% end %>
      <%= content_tag(:div, class: "card-body pt-0") do %>
        <%= content_tag(:h4, "Eventos Semanales Totales", class: "card-title") %>
        <%= content_tag(:p, "Recuento de los eventos asociados a todas las tareas.", class: "card-category") %>
      <% end %>
      <%= render(Card::FooterComponent.new(title: "#{Event.count} eventos creados.", icon: 'list')) %>
    <% end %>
  <% end %>
<% end %> -->
