<!-- Navbar -->
<%= content_tag(:nav, class: "navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top") do %>
  <%= content_tag(:div, class: "container-fluid") do %>
    <%= content_tag(:div, class: "navbar-wrapper") do %>
      <%= link_to('Home', root_path, class: "navbar-brand") %>
    <% end %>
    
    <%= content_tag(:button, class: "navbar-toggler", data: {toggle:"collapse"}, aria: {controls: "navigation-index" , expanded:"false", label:"Toggle navigation"}) do %>
      <%= content_tag(:span, 'Toggle navigation', class: "sr-only") %>
      <%= content_tag(:span, '', class: "navbar-toggler-icon icon-bar") %>
      <%= content_tag(:span, '', class: "navbar-toggler-icon icon-bar") %>
      <%= content_tag(:span, '', class: "navbar-toggler-icon icon-bar") %>
    <% end %>

    <%= content_tag(:div, class: "collapse navbar-collapse justify-content-end") do %>
      <!-- TODO: Remove form -->
      <form class="navbar-form">
      </form>
      <%= content_tag(:ul, class: "navbar-nav") do %>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="material-icons">notifications</i>
            <span class="notification">5</span>
            <p class="d-lg-none d-md-block">
              Some Actions
            </p>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Mike John responded to your email</a>
            <a class="dropdown-item" href="#">You have 5 new tasks</a>
            <a class="dropdown-item" href="#">You're now friend with Andrew</a>
            <a class="dropdown-item" href="#">Another Notification</a>
            <a class="dropdown-item" href="#">Another One</a>
          </div>
        </li> -->
        <li class="nav-item dropdown">
          <a class="nav-link" href="javascript:;" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="material-icons">person</i>
            <p class="d-lg-none d-md-block">
              Account
            </p>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
            <% if user_signed_in? %>
              <%= link_to('Profile', edit_user_registration_path, class: "dropdown-item") %>
              <div class="dropdown-divider"></div>
              <%= link_to('Log out', destroy_user_session_path, class: "dropdown-item") %>        
            <% else %>
              <%= link_to('Register', new_user_registration_path, class: "dropdown-item")  %>
              <div class="dropdown-divider"></div>
              <%= link_to('Log in', new_user_session_path, class: "dropdown-item")  %>  
            <% end %>
          </div>
        </li>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<!-- End Navbar -->