<!doctype html>
<%= content_tag(:html) do %>
  <%= content_tag(:head) do %>
    <%= content_tag(:title, Rails.application.class.name) %>
    <!-- Required meta tags -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- Material Kit CSS -->
    <%= stylesheet_pack_tag 'application', media: 'all', data: { turbo_track: :reload } %>
    <%= javascript_pack_tag 'application', data: { turbo_track: :reload } %>
    <!-- Turbo Links -->
    <%#= yield :head %>
  <% end %>
  <%= content_tag(:body, class:"not-touch-select") do %>
    <% if current_user.present? %>
      <%= render 'shared/navbars/admin_navbar' %>
    <% else %>
      <%= render 'shared/navbars/guest_navbar' %>
    <% end %>
    <div class="tm-main">
      <% if current_user.present? %>
        <%= render 'shared/navbars/breadcrumbs' %>
      <% end %>
      <div class="uk-margin">
        <div class="uk-container uk-container-center uk-position-relative">
          <%= yield %>
        </div>
      </div>
      <%#= render partial: "shared/navbars/navbar_bottom" %>
    </div>
    <% if current_user.present? %>
      <%#= render 'shared/loader' %>
      <%= render 'shared/modal' %>
      <%= render 'shared/canvas/menu' %>
      <%= render 'shared/edition_canvas' %>
    <% end %>

  <% end %>
<%end%>

